.seminar-modal {
  background-color: white;
  border: 2px solid rgba(128, 128, 128, 0.9);
  width: max-content;
  top: 50%;
  margin: auto;
  transform: translateY(50%);
  width: 50%;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(128, 128, 128, 0.9) !important;
}

.modal-open {
  overflow: hidden;
}

.seminar-modal__btns {
  display: flex;
  gap: 10px;
}

.seminar-modal__btn {
  background-color: black;
  color: white;
  width: 100px;
  border-radius: 5px;
  border: 0px;
  padding: 5px;
}

.seminar-modal__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.seminar-modal__form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.seminar-modal__form input,
.seminar-modal__form textarea {
  max-width: 100%;
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0.9);
  border-radius: 5px;
}

.seminar-modal__label {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .seminar-modal {
    width: 80%;
  }
}
